<script type="text/javascript"> 
//<![CDATA[
   	$(function() {    
   		$('.fancybox').fancybox();
		$('.viewflv').fancybox({ 
			width: 480,
			height: 360,
    		autoSize : false,
			type:'iframe',
            beforeLoad: function(){
            	var root = location.protocol + '//' + location.host;
				var url = root + '/swf/flv_player.swf?flv_filename=http://alamatgames.com/charliebriones/flv/' + $(this.element).data("file") + '&amp;autostart=1';
			  	this.href = url;
			}
		});
   	});

// ]]> 
</script>

<h1>3ds Max Animations</h1>

<p class="lead" style="color:#F0AD4E">Check out my 3ds Max Animations and Models. <br />Creating model and trying to animate it was my favorite hobby back then when I was in college.</p>

<div class="row">
	<div class="col-md-2">
		<h4>ABS-CBN</h4>
		<p><a href="#" rel="3d_animation" class="viewflv" data-file="abscbn.flv" title="ABS-CBN"><img src="img/3dsmax_animations_thumb/abscbn_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>ABS-CBN Clouds</h4>
		<p><a href="#" rel="3d_animation" class="viewflv" data-file="absclouds.flv" title="ABS-CBN Clouds"><img src="img/3dsmax_animations_thumb/absclouds_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Animal House</h4>
		<p><a href="#" rel="3d_animation" class="viewflv" data-file="animalhouse.flv" title="Animal House"><img src="img/3dsmax_animations_thumb/animalhouse_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Ball Melt</h4>
		<p><a href="#" rel="3d_animation" class="viewflv" data-file="ballmelt.flv" title="Ball Melt"><img src="img/3dsmax_animations_thumb/ballmelt_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Billiard</h4>
		<p><a href="#" rel="3d_animation" class="viewflv" data-file="billiard.flv" title="Billiard"><img src="img/3dsmax_animations_thumb/billiard_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Bouncing Ball</h4>
		<p><a href="#" rel="3d_animation" class="viewflv" data-file="bouncingball.flv" title="Bouncing Ball"><img src="img/3dsmax_animations_thumb/bouncingball_thumb.jpg" /></a></p>
	</div>
</div>

<div class="row">
	<div class="col-md-2">
		<h4>Charlie 1</h4>
		<p><a href="#" rel="3d_animation" class="viewflv" data-file="charlie1.flv" title="Charlie 1"><img src="img/3dsmax_animations_thumb/charlie1_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Charlie 2</h4>
		<p><a href="#" rel="3d_animation" class="viewflv" data-file="charlie2.flv" title="Charlie 2"><img src="img/3dsmax_animations_thumb/charlie2_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Charlie 3</h4>
		<p><a href="#" rel="3d_animation" class="viewflv" data-file="charlie3.flv" title="Charlie 3"><img src="img/3dsmax_animations_thumb/charlie3_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Cloth</h4>
		<p><a href="#" rel="3d_animation" class="viewflv" data-file="cloth.flv" title="Cloth"><img src="img/3dsmax_animations_thumb/cloth_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Coke Dance</h4>
		<p><a href="#" rel="3d_animation" class="viewflv" data-file="cokedance.flv" title="Coke Dance"><img src="img/3dsmax_animations_thumb/cokedance_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Coke Fall</h4>
		<p><a href="#" rel="3d_animation" class="viewflv" data-file="cokefall.flv" title="Coke Fall"><img src="img/3dsmax_animations_thumb/cokefall_thumb.jpg" /></a></p>
	</div>
</div>

<div class="row">
	<div class="col-md-2">
		<h4>Coke Soccer</h4>
		<p><a href="#" rel="3d_animation" class="viewflv" data-file="cokesoccer.flv" title="Coke Soccer"><img src="img/3dsmax_animations_thumb/cokesoccer_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Coke Spin</h4>
		<p><a href="#" rel="3d_animation" class="viewflv" data-file="cokespin.flv" title="Coke Spin"><img src="img/3dsmax_animations_thumb/cokespin_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Compilation 1</h4>
		<p><a href="#" rel="3d_animation" class="viewflv" data-file="compilation1.flv" title="Compilation 1"><img src="img/3dsmax_animations_thumb/compilation1_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Compilation 2</h4>
		<p><a href="#" rel="3d_animation" class="viewflv" data-file="compilation2.flv" title="Compilation 2"><img src="img/3dsmax_animations_thumb/compilation2_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Earth</h4>
		<p><a href="#" rel="3d_animation" class="viewflv" data-file="earth.flv" title="Earth"><img src="img/3dsmax_animations_thumb/earth_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Eiffle Tower</h4>
		<p><a href="#" rel="3d_animation" class="viewflv" data-file="eifletower.flv" title="Eiffle Tower"><img src="img/3dsmax_animations_thumb/eifletower_thumb.jpg" /></a></p>
	</div>
</div>

<div class="row">
	<div class="col-md-2">
		<h4>Glass Break</h4>
		<p><a href="#" rel="3d_animation" class="viewflv" data-file="glassbreak.flv" title="Glass Break"><img src="img/3dsmax_animations_thumb/glassbreak_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Laser Turret</h4>
		<p><a href="#" rel="3d_animation" class="viewflv" data-file="laserturret.flv" title="Laser Turret"><img src="img/3dsmax_animations_thumb/laserturret_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Map Molave</h4>
		<p><a href="#" rel="3d_animation" class="viewflv" data-file="mapmolave.flv" title="Map Molave"><img src="img/3dsmax_animations_thumb/mapmolave_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Massager</h4>
		<p><a href="#" rel="3d_animation" class="viewflv" data-file="massager.flv" title="Massager"><img src="img/3dsmax_animations_thumb/massager_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Maze</h4>
		<p><a href="#" rel="3d_animation" class="viewflv" data-file="maze.flv" title="Maze"><img src="img/3dsmax_animations_thumb/maze_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Mirror Spin</h4>
		<p><a href="#" rel="3d_animation" class="viewflv" data-file="mirrorspin.flv" title="Mirror Spin"><img src="img/3dsmax_animations_thumb/mirrorspin_thumb.jpg" /></a></p>
	</div>
</div>

<div class="row">
	<div class="col-md-2">
		<h4>Pachinko</h4>
		<p><a href="#" rel="3d_animation" class="viewflv" data-file="pachinko.flv" title="Pachinko"><img src="img/3dsmax_animations_thumb/pachinko_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Pawn Spin</h4>
		<p><a href="#" rel="3d_animation" class="viewflv" data-file="pawnspin.flv" title="Pawn Spin"><img src="img/3dsmax_animations_thumb/pawnspin_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Philippine Flag</h4>
		<p><a href="#" rel="3d_animation" class="viewflv" data-file="philflag.flv" title="Philippine Flag"><img src="img/3dsmax_animations_thumb/philflag_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Revolution Explode</h4>
		<p><a href="#" rel="3d_animation" class="viewflv" data-file="revolutionexplode.flv" title="Revolution Explode"><img src="img/3dsmax_animations_thumb/revolutionexplode_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Ship Building</h4>
		<p><a href="#" rel="3d_animation" class="viewflv" data-file="shipbuilding.flv" title="Ship Building"><img src="img/3dsmax_animations_thumb/shipbuilding_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Sky Pinball</h4>
		<p><a href="#" rel="3d_animation" class="viewflv" data-file="skypinball.flv" title="Sky Pinball"><img src="img/3dsmax_animations_thumb/skypinball_thumb.jpg" /></a></p>
	</div>
</div>

<div class="row">
	<div class="col-md-2">
		<h4>Spotlight</h4>
		<p><a href="#" rel="3d_animation" class="viewflv" data-file="spot.flv" title="Spotlight"><img src="img/3dsmax_animations_thumb/spot_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Spotlight Ball 1</h4>
		<p><a href="#" rel="3d_animation" class="viewflv" data-file="spotball1.flv" title="Spotlight Ball 1"><img src="img/3dsmax_animations_thumb/spotball1_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Spotlight Ball 2</h4>
		<p><a href="#" rel="3d_animation" class="viewflv" data-file="spotball2.flv" title="Spotlight Ball 2"><img src="img/3dsmax_animations_thumb/spotball2_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>The Ring</h4>
		<p><a href="#" rel="3d_animation" class="viewflv" data-file="thering.flv" title="The Ring"><img src="img/3dsmax_animations_thumb/thering_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Tube</h4>
		<p><a href="#" rel="3d_animation" class="viewflv" data-file="tube.flv" title="Tube"><img src="img/3dsmax_animations_thumb/tube_thumb.jpg" /></a></p>
	</div>
</div>

<h1>3ds Max Models</h1>

<div class="row">
	<div class="col-md-2">
		<h4>Animal House 1</h4>
		<p><a title="Animal House 1" rel="3d_model" class="fancybox" href="img/3dsmax_images/animalhouse1.jpg"><img src="img/3dsmax_images/animalhouse1_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Animal House 2</h4>
		<p><a title="Animal House 2" rel="3d_model" class="fancybox" href="img/3dsmax_images/animalhouse2.jpg"><img src="img/3dsmax_images/animalhouse2_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Mayonnaise</h4>
		<p><a title="Mayonnaise" rel="3d_model" class="fancybox" href="img/3dsmax_images/bottle.jpg"><img src="img/3dsmax_images/bottle_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Box Ball</h4>
		<p><a title="Box Ball" rel="3d_model" class="fancybox" href="img/3dsmax_images/boxball.jpg"><img src="img/3dsmax_images/boxball_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>City</h4>
		<p><a title="City" rel="3d_model" class="fancybox" href="img/3dsmax_images/city.jpg"><img src="img/3dsmax_images/city_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Continent</h4>
		<p><a title="Continent" rel="3d_model" class="fancybox" href="img/3dsmax_images/continent.jpg"><img src="img/3dsmax_images/continent_thumb.jpg" /></a></p>
	</div>
</div>


<div class="row">
	<div class="col-md-2">
		<h4>Dog</h4>
		<p><a title="Dog" rel="3d_model" class="fancybox" href="img/3dsmax_images/dog.jpg"><img src="img/3dsmax_images/dog_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Drawer</h4>
		<p><a title="Drawer" rel="3d_model" class="fancybox" href="img/3dsmax_images/drawer.jpg"><img src="img/3dsmax_images/drawer_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Eiffel Tower</h4>
		<p><a title="Eiffel Tower" rel="3d_model" class="fancybox" href="img/3dsmax_images/eifeltower.jpg"><img src="img/3dsmax_images/eifeltower_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Glass</h4>
		<p><a title="Glass" rel="3d_model" class="fancybox" href="img/3dsmax_images/glass.jpg"><img src="img/3dsmax_images/glass_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>House</h4>
		<p><a title="House" rel="3d_model" class="fancybox" href="img/3dsmax_images/house.jpg"><img src="img/3dsmax_images/house_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Jet</h4>
		<p><a title="Jet" rel="3d_model" class="fancybox" href="img/3dsmax_images/jet.jpg"><img src="img/3dsmax_images/jet_thumb.jpg" /></a></p>
	</div>
</div>


<div class="row">
	<div class="col-md-2">
		<h4>Leaning Tower</h4>
		<p><a title="Leaning Tower" rel="3d_model" class="fancybox" href="img/3dsmax_images/leaningtower.jpg"><img src="img/3dsmax_images/leaningtower_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Massager</h4>
		<p><a title="Massager" rel="3d_model" class="fancybox" href="img/3dsmax_images/massager.jpg"><img src="img/3dsmax_images/massager_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Mayonnaise</h4>
		<p><a title="Mayonnaise" rel="3d_model" class="fancybox" href="img/3dsmax_images/mayonaise.jpg"><img src="img/3dsmax_images/mayonaise_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Mirror</h4>
		<p><a title="Mirror" rel="3d_model" class="fancybox" href="img/3dsmax_images/mirror.jpg"><img src="img/3dsmax_images/mirror_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Pawn</h4>
		<p><a title="Pawn" rel="3d_model" class="fancybox" href="img/3dsmax_images/pawn.jpg"><img src="img/3dsmax_images/pawn_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Pig</h4>
		<p><a title="Pig" rel="3d_model" class="fancybox" href="img/3dsmax_images/pig.jpg"><img src="img/3dsmax_images/pig_thumb.jpg" /></a></p>
	</div>
</div>

<div class="row">
	<div class="col-md-2">
		<h4>Ship</h4>
		<p><a title="Ship" rel="3d_model" class="fancybox" href="img/3dsmax_images/ship.jpg"><img src="img/3dsmax_images/ship_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Ship 2</h4>
		<p><a title="Ship 2" rel="3d_model" class="fancybox" href="img/3dsmax_images/ship2.jpg"><img src="img/3dsmax_images/ship2_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Ship 2 Down</h4>
		<p><a title="Ship 2 Down" rel="3d_model" class="fancybox" href="img/3dsmax_images/ship2down.jpg"><img src="img/3dsmax_images/ship2down_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Ship 2 Up</h4>
		<p><a title="Ship 2 Up" rel="3d_model" class="fancybox" href="img/3dsmax_images/ship2up.jpg"><img src="img/3dsmax_images/ship2up_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Tube</h4>
		<p><a title="Tube" rel="3d_model" class="fancybox" href="img/3dsmax_images/tube.jpg"><img src="img/3dsmax_images/tube_thumb.jpg" /></a></p>
	</div>
	<div class="col-md-2">
		<h4>Window</h4>
		<p><a title="Window" rel="3d_model" class="fancybox" href="img/3dsmax_images/window.jpg"><img src="img/3dsmax_images/window_thumb.jpg" /></a></p>
	</div>
</div>
