<h1>About Me</h1>

<p class="lead" style="color:#F0AD4E">Hi, please check my CV, <a href="doc/CharlieBrionesCV.doc">click here</a></p>


<div class="bs-callout-warning">
	<h4>Skills</h4>
	<p>
		<ul>
			<li>Programming Language: C#, PHP, ActionScript 2/3</li>
			<li>Experience in ASP.NET MVC, ASP.NET Web Forms</li>
			<li>Database: MSSQL, MySQL, MS Access</li>
			<li>Front-end Development: HTML, CSS, Twitter Bootstrap, JavaScript</li>
			<li>Front-end Template: Boilerplate</li>
			<li>Javascript Libraries: jQuery, AngularJS, Backbone.js, RequireJS</li>
			<li>Web Service: ASP.NET Web API</li>
			<li>Version Control: Git; Git Client: Git Bash</li>
			<li>Design Patterns: Strategy, Repository, Factory, Dependency Injection, Facade</li>
			<li>IDE: Microsoft Visual Studio</li>
			<li>Other .NET Skills: ORM: Entity Framework, IOC: Simple Injector, Ninject</li>
			<li>Slicing PSD designs to HTML/CSS from scratch</li>
			<li>Unit Testing</li>
		</ul>
	</p>
</div>

<div class="bs-callout-warning">
	<h4>WORK EXPERIENCE</h4>
	<p>
		<h5 class="lead" style="color:#F0AD4E">
			Development Bank – Rizal Commercial Banking Corporation (RCBC) <br />
			<span style="font-size: 16px; color: #333">C# developer     August 2011 - Present</span>
		</h5>
		<h6>Duties:</h6>
		<ul>
			<li>Developing .NET websites and batch application using .NET based frameworks.</li>
			<li>Back-end development and maintenance of websites and batch application using C# and MSSQL</li>
			<li>Developing compatible User Interface functionality using jQuery & other libraries</li>
		</ul>
	</p>
	<hr style="border-width: 1px; border-color: #428BCA" />
	<p>
		<h5 class="lead"  style="color:#F0AD4E">
			Web Development Company – WebFocus Solutions, Inc<br />
			<span style="font-size: 16px; color: #333">PHP/ASP classic developer     July 2009 – March 2011</span>
		</h5>
		<h6>Duties:</h6>
		<ul>
			<li>Developing websites using PHP based MVC frameworks such as CodeIgniter.</li>
			<li>Back-end development and maintenance of websites using PHP and MySQL, MS Access</li>
			<li>Developing compatible User Interface functionality using jQuery & other libraries</li>
			<li>Slicing PSD designs to HTML/CSS from scratch</li>
		</ul>
	</p>
	<hr style="border-width: 1px; border-color: #428BCA" />
	<p>
		<h5 class="lead"  style="color:#F0AD4E">
			Web Development Company – Interactive Web Solutions<br />
			<span style="font-size: 16px; color: #333">PHP developer     January 2009 – June 2009</span>
		</h5>
		<h6>Duties:</h6>
		<ul>
			<li>Back-end development and maintenance of websites and batch application using PHP and MySQL</li>
			<li>Developing compatible User Interface functionality using jQuery & other libraries</li>
		</ul>
	</p>
	<hr style="border-width: 1px; border-color: #428BCA" />
	<p>
		<h5 class="lead"  style="color:#F0AD4E">
			Web Development Company – Softrigger Interactive, Inc.<br />
			<span style="font-size: 16px; color: #333">Flash/Web developer     July 2005 – July 2008</span>
		</h5>
		<h6>Duties:</h6>
		<ul>
			<li>Developing websites using Flash, PHP and MySQL</li>
			<li>Cropping image and designing using Adobe Photoshop</li>
			<li>Creating Simple 3d Model using 3ds Max</li>
		</ul>
	</p>
</div>

<div class="bs-callout-warning" style="margin: 35px 0;">
	<h5 class="lead"  style="color:#F0AD4E">
		Personal Information
	</h5>
</div>

<div class="bs-callout-warning">
	<h4>Name</h4>
	<p>Charlie B. Briones</p>
</div>

<div class="bs-callout-warning">
	<h4>Home Address</h4>
	<p>Blk. 77 Lot 3 12th-23rd st. Villamor Air Base, Pasay City, Philippines</p>
</div>

<div class="bs-callout-warning">
	<h4>College/University</h4>
	<p>Adamson University, Attended 2001 - 2005, Class of 2005, Bachelor's Degree, Computer Science</p>
</div>

<div class="bs-callout-warning">
	<h4>Occupation</h4>
	<p>Web Developer/C# Developer</p>
</div>

<div class="bs-callout-warning">
	<h4>Hobbies and Interests</h4>
	<p>Playing PC Games, Guitar, Badminton, Learning New Technologies</p>
</div>

<div class="bs-callout-warning">
	<h4>Contacts</h4>
	<p>
		<ul>
			<li>Email Address: charliebriones@gmail.com</li>
			<li>Mobile Number: +63-927-372-1452</li>
			<li>Skype: charlie.briones</li>
		</ul>
	</p>
</div>
