<h1>Android</h1>

<p class="lead" style="color:#F0AD4E">Check-out my Android games</p>

<div style="text-align: center;">
	<h3 style="color:#428BCA">Hansy Jumpy</h3>
	<p>My first android game, flappy bird style</p>
	<div style="position: relative; width: 50%; margin: 0 auto;">
	    <img src="img/android/hansy.png" style="float: left;">
	    <a href="https://play.google.com/store/apps/details?id=com.alamatgames.HansyJumpy"><img id="playstore" src="img/android/avail-playstore.png"></a>
	</div>
</div>
