<h1>Design</h1>
<p class="lead" style="color:#F0AD4E">Please see my web designs when I was still doing part-time job.</p>

<script>
	$(document).ready(function() {
		$('.fancybox').fancybox();
	});
</script>

<div class="col-lg-12 text-left" style="text-align: center;">
    <h3 style="color:#428BCA">Intem Philippines</h3>
    <p>
		<a title="Intem Philippines Home" rel="web_design" class="fancybox" href="img/webdesign/intem/home.jpg"><img src="img/webdesign/intem/home_thumb.jpg" /></a>&nbsp;&nbsp;&nbsp;
		<a title="Intem Philippines Inside" rel="web_design" class="fancybox" href="img/webdesign/intem/inside.jpg"><img src="img/webdesign/intem/inside_thumb.jpg" /></a>
    </p>
</div>

<div class="col-lg-12 text-left" style="text-align: center;">
    <h3 style="color:#428BCA">Asiamix Builders</h3>
    <p>
		<a title="Asiamix Builders Home" rel="web_design" class="fancybox" href="img/webdesign/asiamix/home.jpg"><img src="img/webdesign/asiamix/home_thumb.jpg" /></a>&nbsp;&nbsp;&nbsp;
		<a title="Asiamix Builders Inside" rel="web_design" class="fancybox" href="img/webdesign/asiamix/inside.jpg"><img src="img/webdesign/asiamix/inside_thumb.jpg" /></a>
    </p>
</div>

<div class="col-lg-12 text-left" style="text-align: center;">
    <h3 style="color:#428BCA">Bio Vitale</h3>
    <p>
		<a title="Bio Vitale Home" rel="web_design" class="fancybox" href="img/webdesign/biovitale/home.jpg"><img src="img/webdesign/biovitale/home_thumb.jpg" /></a>&nbsp;&nbsp;&nbsp;
		<a title="Bio Vitale Inside" rel="web_design" class="fancybox" href="img/webdesign/biovitale/inside.jpg"><img src="img/webdesign/biovitale/inside_thumb.jpg" /></a>
    </p>
</div>


<div class="col-lg-12 text-left" style="text-align: center;">
    <h3 style="color:#428BCA">Khalid & Eskada</h3>
    <p>
		<a title="Khalid & Eskada Home" rel="web_design" class="fancybox" href="img/webdesign/khalid/home.jpg"><img src="img/webdesign/khalid/home_thumb.jpg" /></a>&nbsp;&nbsp;&nbsp;
		<a title="Khalid & Eskada Inside" rel="web_design" class="fancybox" href="img/webdesign/khalid/inside.jpg"><img src="img/webdesign/khalid/inside_thumb.jpg" /></a>
    </p>
</div>