<h1>Flash</h1>
<p class="lead" style="color:#F0AD4E">Flash is my favorite application when making animation and simple games because it's fun and easy to use.</p>

<script>
	$(document).ready(function() {
		$('.fancybox').fancybox({ 
    		'autoScale':'true',
    		'beforeShow': function(){
            	$(".fancybox-skin").css("backgroundColor", $(this.element).data("bgcolor"));
            },
            'afterLoad': function(){
				this.width = $(this.element).data("width");
				this.height = $(this.element).data("height");
			}
		});
	});
</script>


<div class="col-lg-12 text-left" style="text-align: center;">
    <a class="fancybox" title="Critters Buster" data-width="480" data-height="320" data-bgcolor="#222" href="swf/crittersbuster.swf"><h3>Critters Buster</h3></a>
    <p>
		<a class="fancybox" title="Critters Buster" data-width="480" data-height="320" data-bgcolor="#222" href="swf/crittersbuster.swf"><img src="img/swf/crittersbuster_thumb.jpg" /></a>
    </p>
</div>

<div class="col-lg-12 text-left" style="text-align: center;">
    <a class="fancybox" title="Ship" data-width="550" data-height="400" data-bgcolor="#FFF" href="swf/ship6_not_finished.swf"><h3>Ship</h3></a>
    <p>
		<a class="fancybox" title="Ship" data-width="550" data-height="400" data-bgcolor="#FFF" href="swf/ship6_not_finished.swf"><img src="img/swf/ship_thumb.jpg" /></a>
    </p>
</div>

<div class="col-lg-12 text-left" style="text-align: center;">
    <a class="fancybox" title="Humpy Bumpy" data-width="550" data-height="500" data-bgcolor="#333" href="swf/humpybumpy.swf"><h3>Humpy Bumpy</h3></a>
    <p>
		<a class="fancybox" title="Humpy Bumpy" data-width="550" data-height="500" data-bgcolor="#333" href="swf/humpybumpy.swf"><img src="img/swf/humpy_thumb.jpg" /></a>
    </p>
</div>

<div class="col-lg-12 text-left" style="text-align: center;">
    <a class="fancybox" title="Animal House" data-width="648" data-height="401" data-bgcolor="#FFF" href="swf/animalhouse.swf"><h3>Animal House</h3></a>
    <p>
		<a class="fancybox" title="Animal House" data-width="648" data-height="401" data-bgcolor="#FFF" href="swf/animalhouse.swf"><img src="img/swf/animalhouse_thumb.jpg" /></a>
    </p>
</div>

<div class="col-lg-12 text-left" style="text-align: center;">
    <a class="fancybox" title="Coke Dance" data-width="500" data-height="400" data-bgcolor="#FFF" href="swf/coke_dance.swf"><h3>Coke Dance</h3></a>
    <p>
		<a class="fancybox" title="Coke Dance" data-width="500" data-height="400" data-bgcolor="#FFF" href="swf/coke_dance.swf"><img src="img/swf/coke_thumb.jpg" /></a>
    </p>
</div>

<div class="col-lg-12 text-left" style="text-align: center;">
    <a class="fancybox" title="Coke Spin" data-width="800" data-height="430" data-bgcolor="#FFF" href="swf/coke_ikot.swf"><h3>Coke Spin</h3></a>
    <p>
		<a class="fancybox" title="Coke Spin" data-width="800" data-height="430" data-bgcolor="#FFF" href="swf/coke_ikot.swf"><img src="img/swf/cokespin_thumb.jpg" /></a>
    </p>
</div>

<div class="col-lg-12 text-left" style="text-align: center;">
    <a class="fancybox" title="Molecule Attack" data-width="550" data-height="400" data-bgcolor="#000" href="swf/moleculeattack.swf"><h3>Molecule Attack</h3></a>
    <p>
		<a class="fancybox" title="Molecule Attack" data-width="550" data-height="400" data-bgcolor="#000" href="swf/moleculeattack.swf"><img src="img/swf/molecule_thumb.jpg" /></a>
    </p>
</div>

<div class="col-lg-12 text-left" style="text-align: center;">
    <a class="fancybox" title="YGC" data-width="860" data-height="319" data-bgcolor="#0054A6" href="swf/ygc.swf"><h3>YGC</h3></a>
    <p>
		<a class="fancybox" title="YGC" data-width="860" data-height="319" data-bgcolor="#0054A6" href="swf/ygc.swf"><img src="img/swf/ygc_thumb.jpg" /></a>
    </p>
</div>

<div class="col-lg-12 text-left" style="text-align: center;">
    <a class="fancybox" title="Globe" data-width="474" data-height="156" data-bgcolor="#FFF" href="swf/car.swf"><h3>Globe</h3></a>
    <p>
		<a class="fancybox" title="Globe" data-width="474" data-height="156" data-bgcolor="#FFF" href="swf/car.swf"><img src="img/swf/globe_thumb.jpg" /></a>
    </p>
</div>