<style>
img {
	border: solid 5px #428BCA ;
}
</style>

<h1>Welcome to my Personal Website</h1>
<!--<div data-ng-controller="HomeController">
    <div>data from mongodb</div>
    <div ng-show="isLoading">
        <img src="img/loading.gif" class="ajax-loader"/>
    </div>
    <div data-ng-repeat="user in users">{{user.firstname}} - {{user.lastname}}</div>
</div>-->
<p class="lead" style="color:#F0AD4E">Feel free to navigate my site</p>

<div class="row" style="width: 80%; margin: 0 auto;">
    <div class="col-lg-6 text-center">
        <p>
		<h3 style="color:#428BCA"><a href="#about" role="button">Know about Charlie</a></h3>
        <p><a href="#about" role="button"><img src="img/charlie.jpg" /></a></p>
    </div>
    <div class="col-lg-6 text-center">
        <p>
		<h3 style="color:#428BCA"><a href="#portfolio" role="button">Checkout My Portfolio's<a href="#portfolio" role="button"></h3>
        <p><a href="#portfolio" role="button"><img src="img/portfolio.jpg" /></a></p>
    </div>
</div>
