<h1>Portfolio</h1>

<div class="row">
    <div class="col-lg-12 text-left bs-callout-warning">
        <h3 style="color:#428BCA">Website</h3>
        <p>Please check out some of my created websites. Most of the websites I created before were already down probably because of Web Hosting has ended.<br />
        I also did not include all the websites I created that already rewritten/redesign by other developers.</p>
        <p><a class="btn btn-primary" href="#website" role="button">View Websites &raquo;</a></p>
    </div>
    <div class="col-lg-12 text-left bs-callout-warning">
        <h3 style="color:#428BCA">Flash</h3>
        <p>Flash is my favorite application when making animation and simple games because it's fun and easy to use.</p>
        <p><a class="btn btn-primary" href="#flash" role="button">View Flash &raquo;</a></p>
    </div>
    <div class="col-lg-12 text-left bs-callout-warning">
        <h3 style="color:#428BCA">Web Design</h3>
        <p>Please see my web designs when I was still doing part-time job.</p>
        <p><a class="btn btn-primary" href="#design" role="button">View Web Designs &raquo;</a></p>
    </div>
    <div class="col-lg-12 text-left bs-callout-warning">
        <h3 style="color:#428BCA">3ds Max</h3>
        <p>Check out my 3ds Max Animations and Models. Creating model and trying to animate it was my favorite hobby back then when I was in college.</p>
        <p><a class="btn btn-primary" href="#3d" role="button">View 3ds Max &raquo;</a></p>
    </div>
    <div class="col-lg-12 text-left bs-callout-warning">
        <h3 style="color:#428BCA">Android</h3>
        <p>Check-out my Android games.</p>
        <p><a class="btn btn-primary" href="#android" role="button">View Android Games &raquo;</a></p>
    </div>
</div>