<h1>Website</h1>
<p class="lead" style="color:#F0AD4E">Please check out some of my created websites. <br />Most of the websites I created before were already down probably because of Web Hosting has ended. <br />I also did not include all the websites I created that already rewritten/redesign by other developers.</p>

<div class="row">
    <div class="col-lg-12 text-left bs-callout-warning">
        <a href="http://www.worldbalance.com.ph" target="_blank"><h3>World Balance</h3></a>
        <p>
		Responsibilities
		<ul>
			<li>Developed the website using the CodeIgniter PHP framework.</li>
			<li>Responsible for database design using MySQL.</li>
			<li>Developed a Content Management System(CMS) for product catalog and banner management.</li>
			<li>Responsible for converting PSD design to XHTML / CSS template.</li>
		</ul>
        </p>
        <p><a class="btn btn-primary" href="http://www.worldbalance.com.ph" role="button" target="_blank">Visit Website</a></p>
    </div>
    <div class="col-lg-12 text-left bs-callout-warning">
        <a href="http://www.arieljavelosa.ph/index.asp" target="_blank"><h3>Ariel Javelosa</h3></a>
        <p>
		Responsibilities
		<ul>
			<li>Developed the website using ASP Classic.</li>
			<li>Developed a Content Management System(CMS) for the admin to maintain the content.</li>
			<li>Implementation of jQuery UI Component Carousel.</li>
			<li>Implementation of Flash Component Page Flip.</li>
			<li>Implementation of Flash Video</li>
			<li>Responsible for converting PSD design to XHTML / CSS template.</li>
		</ul>
        </p>
        <p><a class="btn btn-primary" href="http://www.arieljavelosa.ph/index.asp" role="button" target="_blank">Visit Website</a></p>
    </div>
    <div class="col-lg-12 text-left bs-callout-warning">
        <a href="http://fatima.edu.ph" target="_blank"><h3>Our Lady of Fatima University (Main) </h3></a>
        <p>
		Responsibilities
		<ul>
			<li>Developed the website using  ASP Classic.</li>
			<li>Developed a Content Management System(CMS) for the admin to easily maintain the content of the website</li>
			<li>Implementation of some jQuery UI Component.</li>
			<li>Responsible for database design using MS Access.</li>
			<li>Responsible for converting PSD design to XHTML / CSS template.</li>
		</ul>
        </p>
        <p><a class="btn btn-primary" href="http://fatima.edu.ph" role="button" target="_blank">Visit Website</a></p>
    </div>

    <div class="col-lg-12 text-left bs-callout-warning">
        <a href="http://fatima.edu.ph/FATIMA_WEB/Templates/index.asp" target="_blank"><h3>Our Lady of Fatima University (Sub) </h3></a>
        <p>
		Responsibilities
		<ul>
			<li>Developed the website using ASP Classic.</li>
			<li>Developed a Content Management System(CMS) for the admin to easily maintain the content of the website.</li>
			<li>Responsible for database design using MS Access.</li>
			<li>Responsible for converting PSD design to XHTML / CSS template</li>
		</ul>
        </p>
        <p><a class="btn btn-primary" href="http://fatima.edu.ph/FATIMA_WEB/Templates/index.asp" role="button" target="_blank">Visit Website</a></p>
    </div>

    <div class="col-lg-12 text-left bs-callout-warning">
        <a href="http://www.intemphilippines.com/" target="_blank"><h3>Intem Philippines</h3></a>
        <p>
		Responsibilities
		<ul>
			<li>Responsible for designing the whole website</li>
			<li>Responsible for converting PSD design to XHTML / CSS template.</li>
		</ul>
        </p>
        <p><a class="btn btn-primary" href="http://www.intemphilippines.com/" role="button" target="_blank">Visit Website</a></p>
    </div>

    <div class="col-lg-12 text-left bs-callout-warning">
        <a href="http://www.alamatgames.com/" target="_blank"><h3>Alamat Games</h3></a>
        <p>This site is where we post our games that we create.</p>
        <p><a class="btn btn-primary" href="http://www.alamatgames.com/" role="button" target="_blank">Visit Website</a></p>
    </div>
</div>